<div class="container mt-3">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <div class="text-center mb-4">
          <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        </div>
        <div class="form-label-group">
          <input type="text" id="inputUsername" class="form-control"  placeholder="Username" required="" autofocus="">
          <label for="inputUsername"></label>
        </div>
        <div class="form-label-group">
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
          <label for="inputPassword"></label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">Copğyright© 2020</p>
      </form>
    </div>
  </div>
</div>