<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">
    {{title}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home"></i> Home<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isAuth === true" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/profile']"><i class="fa fa-user"></i> Profile </a>
      </li>
      <li class="nav-item" *ngIf="isAuth === false" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/login']">Login </a>
      </li>
      <li class="nav-item" *ngIf="isAuth === true">
        <a class="nav-link" (click)="DestroyStorage()">LogOut </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet>
</router-outlet>
