<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-5">
      <h4>Enter the date range</h4>
      <hr>
      <form class="form-inline" [formGroup]="exchangeForm" (ngSubmit)="showExchange()">
        <div class="form-group mb-2">
          <label class="sr-only">Start Date</label>
          <input type="date" class="form-control" formControlName="startDate">
        </div>&nbsp;
        <button type="button" class="btn btn-primary mb-2" (click)="showExchange()">Show it!</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="!this.exchangeResult" class="alert alert-warning" role="alert">
        <i class="fa  fa-info"></i> Kur bilgisi bulunamadı.
      </div>
      <div *ngIf="this.exchangeResult">
        <dx-data-grid
          id="gridContainer"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [dataSource]="this.exchangeResult.Tarih_Date.Currency"
          [showBorders]="true">
          <dxo-search-panel
            [visible]="true"
            [highlightCaseSensitive]="true"
          ></dxo-search-panel>
          <dxi-column dataField="@attributes.Kod" caption="Döviz" alignment="left" cellTemplate="cellTemplate"></dxi-column>
          <dxi-column dataField="ForexBuying" caption="Alış" dataType="number" alignment="right"></dxi-column>
          <dxi-column dataField="ForexSelling" caption="Satış" dataType="number" alignment="right"></dxi-column>

          <div *dxTemplate="let data of 'cellTemplate'">
            <div class="currency-flag currency-flag-{{data.value.toLowerCase()}}"></div>
            {{data.value}}
          </div>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
